body{
    text-align:center;
    font-family:Arial;
    margin-top:80px;
    background:white;
}

h1{
    margin-bottom:40px;
}

.coin{
    width:150px;
    height:150px;
    margin:20px auto;
    border-radius:50%;
    background:gold;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:30px;
    font-weight:bold;
    box-shadow:0 0 15px rgba(0,0,0,0.3);
    transition: all 0.3s ease;
}

button{
    padding:12px 30px;
    font-size:18px;
    cursor:pointer;
    border:palegreen;
    background:#2b08aa;
    color:rgb(247, 245, 245);
    border-radius:15px;
}